{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<h2>Faça uma postagem:</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/postagem/nova" method="POST">

            <label for="titulo">Título: </label>
            <input type="text" class="form-control" name="titulo" placeholder="Título da postagem" value="{{form.titulo}}" >
            
            <label for="descricao">Descrição: </label>
            <input type="text" class="form-control" name="descricao" placeholder="Descrição da postagem" value="{{form.descricao}}" required>

            <label for="slug">Slug: </label>
            <input type="text" class="form-control" name="slug" placeholder=" Slug da postagem" value="{{form.slug}}" required>

            <label for="categoria">Categoria da postagem</label>
            <select name="categoria" class="form-control form-select">
                <option selected disabled> Selecione a categoria </option>
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                        {{#if form}}
                            <option value="{{form.categoria}}">Categoria</option>
                        {{/if}}
                {{/each}}
            </select>

            <label for="conteudo">Conteúdo</label>
            <textarea name="conteudo" rows="15" class="form-control form" placeholder="Conteúdo da postagem" required>{{form.conteudo}}</textarea>

            <button class="btn btn-success mt-2" type="submit">Postar</button>
        </form>
    </div>
    
</div>