<a href="/admin/postagem/adicionar">
    <button class="btn btn-success">+ Adicionar Postagem</button>
</a>
<hr>
<h2 class="mt-4 mb-4">Postagens:</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-header">
            <h3>{{titulo}}</h3>
            <h6>{{categoria.nome}}</h6>
            <small>{{descricao}}</small>
        </div>
        <div class="card-body">
            <p>{{conteudo}}</p>
        </div>
        <div class="card-footer">
            <div class="card-group">
                <div class="card-body">
                    <div class=""></div>
                    <small>{{slug}}</small><br>
                    <small>{{data_postagem}}</small>
                </div>
                <div class="card-body align-self-center">
                    <a href="/admin/postagem/editar/{{_id}}"><button class="btn btn-secondary">Editar</button></a>
                    <a href="/admin/postagem/excluir/{{_id}}"><button class="btn btn-danger">Excluir</button></a>
                </div>
            </div>
        </div>
    </div>

    {{else}}
    <h4>Nenhuma postagem disponível</h4>
{{/each}}