{{#with postagem}}
    <h6>{{categoria.nome}}</h6>
    <hr>
    <h1>{{titulo}}</h1>
    <p>{{descricao}}</p>
    <span>{{conteudo}}</span><br><br>
    <small>{{slug}}</small><br>
    <small class="text-light-emphasis">{{data_postagem}}</small><br>
{{/with}}